<!--Imagenes de muestra-->
<div class="col-12 text-center mt-5">
    <h1 class="display-4 pt-4"> Fotografías</h1>
    <div class="border-top border-dark w-50 mx-auto my-3">
      <p class="lead">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
      </p>
    </div>
  </div>
<div class="container-fluid padding my-5">
    <div class="row padding">
      <div class="col-md-4">
        <div class="card my-2">
          <div class="inner">
            <img class="card-img-top" src="./assets/img/imagen4.jpeg" />
          </div>
          <div class="card-body text-center"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card my-2">
          <div class="inner">
            <img class="card-img-top" src="./assets/img/imagen5.jpeg" />
          </div>
          <div class="card-body text-center"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card my-2">
          <div class="inner">
            <img class="card-img-top" src="./assets/img/imagen13.jpeg" />
          </div>
          <div class="card-body text-center"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card my-2;">
          <div class="inner">
            <img class="card-img-top" src="./assets/img/imagen7.jpeg" />
          </div>
          <div class="card-body text-center"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card my-2;">
          <div class="inner">
            <img class="card-img-top" src="./assets/img/imagen8.jpeg" />
          </div>
          <div class="card-body text-center"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card my-2;">
          <div class="inner">
            <img class="card-img-top" src="./assets/img/imagen9.jpeg" />
          </div>
          <div class="card-body text-center"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card my-2">
          <div class="inner">
            <img class="card-img-top" src="./assets/img/imagen10.jpeg" />
          </div>
          <div class="card-body text-center"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card my-2">
          <div class="inner">
            <img class="card-img-top" src="./assets/img/imagen11.jpeg" />
          </div>
          <div class="card-body text-center"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card my-2">
          <div class="inner">
            <img
              class="card-img-top"
              height="410"
              src="./assets/img/imagen12.jpeg"
            />
          </div>
          <div class="card-body text-center"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card my-2">
          <div class="inner">
            <img
              class="card-img-top"
             
              src="./assets/img/imagen19.jpeg"
            />
          </div>
          <div class="card-body text-center"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card my-2">
          <div class="inner">
            <img
              class="card-img-top"
             
              src="./assets/img/imagen21.jpeg"
            />
          </div>
          <div class="card-body text-center"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card my-2">
          <div class="inner">
            <img
              class="card-img-top"
             
              src="./assets/img/imagen28.jpeg"
            />
          </div>
          <div class="card-body text-center"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card my-2">
          <div class="inner">
            <img
              class="card-img-top"
              
              src="./assets/img/imagen22.jpeg"
            />
          </div>
          <div class="card-body text-center"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card my-2">
          <div class="inner">
            <img
              class="card-img-top"
             
              src="./assets/img/imagen23.jpeg"
            />
          </div>
          <div class="card-body text-center"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card my-2">
          <div class="inner">
            <img
              class="card-img-top"
              
              src="./assets/img/imagen24.jpeg"
            />
          </div>
          <div class="card-body text-center"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card my-2">
          <div class="inner">
            <img
              class="card-img-top"
              
              src="./assets/img/imagen25.jpeg"
            />
          </div>
          <div class="card-body text-center"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card my-2">
          <div class="inner">
            <img
              class="card-img-top"
              
              src="./assets/img/imagen26.jpeg"
            />
          </div>
          <div class="card-body text-center"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card my-2">
          <div class="inner">
            <img
              class="card-img-top"
              
              src="./assets/img/imagen27.jpg"
            />
          </div>
          <div class="card-body text-center"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="social-media-sticky">
    <div class="jumbotron sticky-top">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="d-none d-xl-block col-xl-6 pt-1">
            <h3>¡Conectate con nosotros!</h3>
          </div>
          <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 pt-1">
            <ul class="social">
              <li>
                <a href="#" target="_blank"
                  ><i class="fab fa-facebook" style="color: #3b5998;"></i
                ></a>
              </li>

              <li>
                <a href="#" target="_blank"
                  ><i class="fab fa-twitter" style="color: #00aced;"></i
                ></a>
              </li>

              <li>
                <a href="#" target="_blank"
                  ><i class="fab fa-instagram" style="color: #3f729b;"></i
                ></a>
              </li>

              <li>
                <a href="" target="_blank"
                  ><i class="fab fa-whatsapp" style="color: #25d366;"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>