html,
body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: large;
}

.navbar-brand img {
  height: 2.9em;
}
.navbar {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.nav-item {
  padding: 0.4rem;
}
.nav-link {
  color: white !important;
}
.nav-link.active,
.nav-link:hover{
    color: #396AFC!important;
}