<div
  id="carousel"
  class="carousel slide"
  data-ride="carousel"
  data-interval="6500"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/img/imagen1.jpeg" class="w-100" alt="" />
      <div class="carousel-caption">
        <h1 class="display-2">Contrata tu Servicio</h1>
        <h3>¡No te arrepentiras!</h3>
        <button type="button" class="btn btn-primary btn-lg mr-2">Contratar</button>
        <button type="button" class="btn btn-outline-primary btn-lg">Ver Fotografias</button>
      </div>
    </div>

    <div class="carousel-item">
      <img src="./assets/img/imagen2.jpeg" class="w-100" alt="" />
    </div>

    <div class="carousel-item">
      <img src="./assets/img/imagen3.jpeg" class="w-100" alt="" />
    </div>
  </div>

  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>
</div>
