<footer class="bg-dark mt-5">
<div class="container">
<div class="row justify-content-center text-center text-light">
    <div class="col-md-9">
        <img src="./../../../assets/img/logo.png" width="200" height="60" alt="">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
    </div>
    <div class="col-md-4">
        <hr class="bg-light">
        <h5>Contacto</h5>
        <hr class="bg-light">
        <h5>2222-2222</h5>
        <p>email@hdnicaragua.com</p>
        <p>100 City Nanme</p>
        <p>City State</p>
    </div>
    <div class="col-md-4">
        <hr class="bg-light">
        <h5>Our Hours</h5>
        <hr class="bg-light">
        <p>Monday: 9am - 5pm</p>
        <p>Saturday: 11am - 5pm</p>
        <p>Sunday: Close</p>
    </div>
    <div class="col-md-4">
        <hr class="bg-light">
        <h5>Service Area</h5>
        <hr class="bg-light">
        <p>City State, 000000</p>
        <p>City State, 000000</p>
        <p>City State, 000000</p>
        <p>City State, 000000</p>
        <p>City State, 000000</p>
    </div>
</div>
</div>
</footer>

<div class="bg-dark socket text-light text-center py-4">
    <p>&copy; <a href=""></a>Kevin Esquivel</p>
</div>
